@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("OpenType");
  src: url(../../assets/Font/Alternativefiles/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("OpenType");
  src: url(../../assets/Font/Alternativefiles/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
* {
  font-family: Avenir;
}

body {
  box-sizing: border-box;
}

.navhead {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .navhead {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1281px) {
  .navhead {
    flex-direction: row;
    width: 86%;
    padding-left: 7%;
  }
}
.navhead-logo {
  height: 1.562rem;
  width: 7.6rem;
  margin: 8% 0% 5% 35%;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .navhead-logo {
    margin: 3% 0% 0% 5%;
  }
}
@media (min-width: 1281px) {
  .navhead-logo {
    margin: 3% 0% 0% 5%;
  }
}
.navhead-allarea {
  display: flex;
  justify-content: space-evenly;
  margin: 0rem 0rem 1rem 0rem;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .navhead-allarea {
    margin: 2% 0% 2% 3%;
    width: 70%;
  }
}
@media (min-width: 1281px) {
  .navhead-allarea {
    margin: 2% 0% 2% 3%;
    width: 40%;
    padding-left: 25%;
  }
}
.navhead-searcharea {
  width: 70%;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  display: inline-block;
  background-color: #FAFAFA;
}
.navhead-searchicon {
  width: 1.2rem;
  height: 1.5rem;
  vertical-align: middle;
  border: 1px solid #E1E1E1;
  border: none;
  padding: 0.44rem;
  border-radius: 0.25rem;
}
.navhead-input {
  height: 2.25rem;
  width: 83.3%;
  border: 1px solid #E1E1E1;
  border: none;
  border-radius: 0.25rem;
  background-color: #FAFAFA;
}
.navhead-input::placeholder {
  color: #000000;
}
.navhead-image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .navhead-image {
    display: none;
  }
}
@media (min-width: 1281px) {
  .navhead-image {
    display: none;
  }
}
.navhead-uplbtn {
  max-width: 90%;
  background-image: url("../../assets/Icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 0.5rem;
  color: #FFFFFF;
  background-color: #0095FF;
  margin: 0rem 0rem 1rem 1rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
}
.navhead-uplbtn:hover {
  background-color: #0065AD;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .navhead-uplbtn {
    margin: 2% 0% 2% 0%;
    width: 30%;
  }
}
@media (min-width: 1281px) {
  .navhead-uplbtn {
    width: 15%;
    margin: 2% 0% 2% 0%;
  }
}
.navhead-image1 {
  display: none;
}
@media (max-width: 1280px) and (min-width: 768px) {
  .navhead-image1 {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin: 2% 3% 2% 3%;
  }
}
@media (min-width: 1281px) {
  .navhead-image1 {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin: 2% 3% 2% 3%;
  }
}/*# sourceMappingURL=Navhead.css.map */