@use "../../styles/partials/variable" as*;
@use "../../styles/partials/global" as*;
@use "../../styles/partials/fonts" as*;
@use "../../styles/partials/mixin" as*;


  
.navhead{

  display: flex;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
    justify-content: space-between;

  }
  @include desktop{
    flex-direction: row;
     width: 86% ;
     padding-left: 7%;

  }
 
  
  
&-logo{
  height: 1.562rem;
  width: 7.6rem;
  margin: 8% 0% 5% 35%;
 
  @include tablet{
    margin:3% 0% 0% 5%;
  }
  @include desktop{
    margin:3% 0% 0% 5%;
  }

}
&-allarea{
 display: flex;
 justify-content: space-evenly;
 margin: 0rem 0rem 1rem 0rem;
 

 @include tablet{
  margin:2% 0% 2% 3%;
  width: 70%;
 }
 @include desktop{
  margin:2% 0% 2% 3%;
  width: 40%;
  padding-left: 25%;
  
 }
}
&-searcharea{
  width: 70%;
  border: 1px solid $Mercury;
  border-radius:0.25rem;
  display: inline-block;
  background-color: $Alabaster;
 


}
&-searchicon{
  width: 1.2rem;
  height: 1.5rem;
  vertical-align: middle;
  border: 1px solid $Mercury;
  border: none;
 padding: 0.44rem;
 border-radius:0.25rem;
 

}
&-input{
  height: 2.25rem;
  width: 83.3%;
  border: 1px solid $Mercury;
  border: none;
  border-radius:0.25rem;
  background-color: $Alabaster;
  &::placeholder {
    color: $BrainFlix-DarkBlack;
  }

}

&-image {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  vertical-align:middle;
  display: inline-block;

 @include tablet{
   display: none;
 }


 @include desktop{
  display: none;
}
}

&-uplbtn{
  max-width: 90%;
  background-image: url("../../assets/Icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 0.5rem;
  color: $White;
  background-color: $BrainFlix-Blue;
  margin: 0rem 0rem 1rem 1rem;
  height:2.5rem;
  border-radius: 0.25rem;
  border: none;

  &:hover{
    background-color: $BrainFlix-DarkBlue;
  }
 
  @include tablet{
    margin:2% 0% 2% 0%;
    width: 30%;
   }

  @include desktop{
    width: 15%;
    margin:2% 0% 2% 0%;
  } 

}
&-image1{
  display: none;
  @include tablet{

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    margin:2% 3% 2% 3%;
  }
  @include desktop{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    margin:2% 3% 2% 3%;
  }
}
}

