@use "../../styles/partials/variable" as*;
@use "../../styles/partials/global" as*;
@use "../../styles/partials/fonts" as*;
@use "../../styles/partials/mixin" as*;


.main{




  &-commenthead{
    font-size: 1rem;
    font-weight: 700;
    font-size: 0.75rem;
    color: $BrainFlix-Black;
  }

  &-comment__label{
    color: $Silver;
    font-weight: 700;
    font-size: 0.6rem;
    line-height: 1.25rem;
    
   
    
  
  }
  &-commenttype{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

    
   
    @include desktop {
      padding-right: 1.5rem;

    }
  }


  &-commenttwo{

    @include tablet{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }
    @include desktop{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }
  }
  &-commentimp{

    @include tablet{
      width: 100%;
       display:flex ;
       flex-direction: column;
       
       
    }
    @include desktop{
      width: 100%;
       display:flex ;
       flex-direction: column;
       
       
    }
   
  }
  &-commentimage{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    margin-top: 1.6rem;
    margin-right: 0.7rem;

    @include tablet{
      margin-top: 1.2rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    @include desktop{
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 1rem;
    }
  }
  &-comment__text{
    height: 4.25rem;
    width: 100% ;
    border-radius: 0.25rem;
    background-color:$Alabaster;
    border: 1px solid $Mercury;
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 0.6rem;

    &::placeholder {
      color: $BrainFlix-DarkBlack;
      
    }
    
    @include tablet{
     height: 2rem;
     width: 95%;
     
     
    }
    @include desktop{
      height: 2rem;
      width: 95%;
      
    } 
    
  }
  &-comment__btn{
    height: 2.5rem;
    background-image: url(../../assets/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: 1rem 0.6rem;
    background-color: $BrainFlix-Blue;
    border: none;
    color: $White;
    width: 100%;
    border-radius: 0.25rem;
    font-weight: 700;

    &:hover{
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet{
      width: 30%;
      font-weight: 400;
      margin-top: 1.5%;
      background-size: 11%;
      background-position:0.7rem 0.8rem ;

     }

    @include desktop{
      width: 30%;
      font-weight: 400;
      margin-top:2% ;
      background-size: 11%;
      background-position:0.7rem 0.8rem ;

     }
  }
 


  //Comment display section for activevideo
  &-parttwo{
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid $Mercury;

  
    @include tablet {
      padding-left:1.5rem ;
      padding-right:1.5rem;
    }
    @include desktop {
      padding-left:0rem ;
      padding-right:0rem;
    }
  }


  &-section{
    padding: 0rem 0.6rem 0rem 0.6rem;
  }
  &-commentconatainer{
    padding: 1rem;
  
   
  }
  &-commentelement{
    border-top: 1px solid $Mercury;
   
    @include desktop{
      padding-right: 1rem;
    }
  }
  
  &-commentdisplay{
    display: inline-block;
    width: 84%;

    @include tablet{
     width: 94%;
    }
    @include desktop{
      width: 94%;
    }
    

  
  
  }
  &-imgcom{
    display: flex;
    
  }
  &-commentimgplace{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    opacity: 10%;
  }
  &-commentsubdisplay{
    display: flex;
    justify-content: space-between;

    
  }
  &-commentname{
      display:inline-block;
      font-size: 0.87rem;
      font-weight: 700;
      margin-left: 6%;
    color: $BrainFlix-Black;
      margin-bottom: 0;
    }
  &-commenttime{
      display: inline-block;
      font-size: 0.81rem;
      color: $Silver;
   
      margin-bottom: 0;
     
    }
  &-commentarea{
      width: 83%;
      padding-left: 1%;
    font-weight: 400;
    font-size: 0.81rem;
    padding-left: 6%;
  
    @include tablet{
      width: 100%;
      
    }
    @include desktop{
      width: 100%;
      
    }
    }
  }



