@use "../../styles/partials/variable" as*;
@use "../../styles/partials/global" as*;
@use "../../styles/partials/fonts" as*;
@use "../../styles/partials/mixin" as*;

.main{


 &-image{
 background-color: $BrainFlix-DarkBlack;
  @include tablet {
    padding-left:1.5rem ;
    padding-right:1.5rem;
  }
  @include desktop{
    display: flex;
    justify-content: center;
    
  }
 } 
&-head{
  color:$BrainFlix-Black;
  font-size: 1.5rem;
  line-height: 2rem;
 font-weight: 700;


 @include tablet{
 font-size: 2.06rem;
  
}



}
&-viewsection{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $Mercury;
  border-bottom: 1px solid $Mercury;

  @include tablet{
    border-top: none;
    
  }
  @include desktop {
    padding-right: 1.5rem;
  }
}

&-author{

  @include tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }
}
&-author--name{
  color:$BrainFlix-Black;
 font-weight: 700;

}
&-autor--date , &-like , &-view{
 color: $Silver;
}

&-viewlike{

  @include tablet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }
}

&-brief{
font-size:0.81rem ;
line-height: 1.12rem;

@include tablet{
  font-size:0.875rem ;

}
@include desktop {
  padding-right: 1.5rem;
}
}

}