@use "./styles/partials/variable" as *;
@use "./styles/partials/mixin" as *;
@use "./styles/partials/global" as *;
@use "./styles/partials/fonts" as *;





.details{


  &-content{

    @include desktop{
      display: flex;
      padding-left: 10%;
      width:87%;
    
   
    }

    
}

&-contentview{
  @include desktop{
   width: 65%;
   border-right:1px solid $Mercury ;
   padding-top: 2%;

  }
}

}






